body {
  font-family: Helvetica;
  margin: 25px;
}

.flag {
  padding-left: 7.5px;
  cursor: pointer;
}

.form {
  padding: 15px 0px;

  label {
    display: inline-block;
    width: 45px;
    padding: 10px 0px;
  }

  button {
    margin-top: 10px;
  }
}
